* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3b4550;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #06182a;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
}

@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.6;

    color: var(--text-primary);
}

header {
    display: flex;
    justify-content: space-between;
    color: var(--text-primary);
    padding: .5rem 1.5rem;
    align-items: center;
    gap: 2rem;
    
    border-bottom: 1px solid var(--border);
}

h1 {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    text-wrap: balance;
    align-items: center;

    svg {
        width: 2rem;
        height: 2rem;
        color: var(--primary-light);
    }
}


header nav a {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 1.1rem;
}

header div a {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 1.1rem;
}

main>section:nth-child(1) {
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
        padding-top: 36px;
    }


    &>img {
        position: absolute;
        object-fit: cover;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        margin: 0;
        mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 80%);
    }
}