* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3b4550;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #06182a;
    --input-background: #142a41;
    --button-background: #052f5d;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
}

@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.6;
    color: var(--text-primary);
}

body > header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    border-bottom: 1px solid var(--border);
    padding: 1rem 0.5rem;
}


body > header > h1 {
    display: flex;
    gap: 0.8rem;
    color: var(--text-primary);
    

    svg{
        height: 55px;
        color: var(--primary-light);
    }
}

body > header > nav {
    display: flex;
    gap: 1.5rem;
}

body > header > nav > a {
    text-decoration: none;
    font-weight: 700;
    color: var(--text-primary);
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
    text-align: center;
}

main > section > h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    gap: 0.8rem;

    svg {
        color: var(--primary-light);
        height: 140px;
        width: 1400px;
    }
}

main > section > p{
    color: var(--text-muted);
}

main > section > div {
    cursor: pointer;
    background-color: var(--primary-hover);
    border-radius: 8px;
    padding: 5px 10px;
}

main > section > div > a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 400;
}

footer {
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}

footer > small {
    color: var(--text-muted);
    margin-left: 3.5rem;
}
